body{
    background-color: white;
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}
#Tag{
    color: black;
    box-shadow: inset;
    height: 50vh;
    width: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10%;
    font-style: bold;
}
#btn{
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: solid;
    background-color: black;
    text-shadow: 25px solid white;
    border-radius: 110px;

}
#btn:hover{
    background-color: white;
    color: black;
    border-bottom: 5px solid black;


}
.tag{
    background-color: tomato;
}
.tola{
    background-color: blue;
}
.lola{
    background-color: gold;
}
.gazza #btn{
    background-color: black;
    color: white;
}