body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 90%);
}

h1{
    font-size: 4rem;
    font-family: Arial,  sans-serif;
    color: hsl(0, 0%, 25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%);
    margin-bottom: 25px;
}
#controlBtn button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.s ease-in-out;

}
#startBtn{
    background-color: green;
}
#startBtn:hover{
    color: green;
    background-color: white;
}
#stopBtn{
    background-color: red;
}
#stopBtn:hover{
    color: red;
    background-color: white;
}
#resetBtn{
    background-color: yellow;
}
#resetBtn:hover{
    color: yellow;
    background-color: white;
}