body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 14%, 4%, 0);
}

h1 {
    color: red;
}

form {
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: azure;
    color: blue;
}

#result {
    font-size: 1.7em;
    font-weight: bold;
}